@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  background-color: rgb(29, 29, 29);
  color: #fff;
}

body {
  overflow: hidden; /* Evita que aparezca la barra de desplazamiento */
}

header {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 5px, rgba(0, 0, 0, 0.23) 0px 1px 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(29, 29, 29);
}

header > nav > ul {
  list-style: none;
  display: flex;
  gap: 0 15px;
  justify-content: center;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

header > nav > ul > li > a:hover {
  color: #e47900;
  transition: all 0.5s;
}

.active {
  color: #e47900;
}

footer {
  position: fixed; /* Fija el footer en la parte inferior de la ventana */
  left: 0; /* Alinea el footer a la izquierda */
  bottom: 0; /* Alinea el footer en la parte inferior */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  text-align: center;
  padding-top: 100px;
  padding-bottom: 5px;
  background-color: #e47900;
  background: url(/assets/inicio/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer > h2 {
  font-size: 26px;
}

footer > h2 > span {
  padding: 1px;
  color: #e47900;
  background-color: #fff;
}

footer > p:last-of-type {
  text-wrap: balance;
  margin-top: 25px;
}

footer > p > span {
  padding: 3px;
  background-color: rgb(0, 89, 255);
  color: #ffe604;
  font-style: italic;
}

/* MEDIA QUERIES */
@media (min-width: 440px) {
  header > nav > ul {
    gap: 30px;
  }
}
