body {
  background: url(/assets/jugar/stacked-peaks-haikei2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

main > h2 {
  font-size: 30px;
  padding: 15px 0;
}

.game {
  padding: 50px;
  background-color: #1d1d1dc0;
  border-radius: 12px;
  position: relative;
}

.levels {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  border-radius: 12px;
  width: 100%;
}

.level {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.level.correct {
  background-color: green;
  color: white;
}

.level.incorrect {
  background-color: red;
  color: white;
}

.result-info .Correcto {
  background-color: green;
  color: white;
}

.result-info .Incorrecto {
  background-color: red;
  color: white;
}

.content {
  text-align: center;
  padding: 7px 0;
}

.content > p:first-child {
  font-size: 22px;
}

.content > p:last-of-type {
  font-size: 22px;
  padding: 10px 0;
}

.active-phase {
  background-color: #41cc00;
}

.checked {
  background-color: #313131;
}

.options {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0px;
}

.option {
  max-width: 170px;
  height: 70px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 7px;
  margin: auto;
  font-size: 19px;
  font-family: "Poppins";
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.option:hover {
  background-color: #e47900;
}

.result {
  position: absolute;
  display: none;
  inset: 0;
  background-color: #000000f1;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
}

.result-info > p {
  font-size: 20px;
  padding: 15px;
}

#btnReiniciar {
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 7px;
  margin: auto;
  font-size: 19px;
  font-family: "Poppins";
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
#btnReiniciar:hover {
  background-color: #000;
}
img {
  width: 220px; 
  height: auto; 
  max-height: 150px; 
  display: block; 
  margin: 0 auto; 
  object-fit: contain;
}