body {
  background: url(/assets/jugar/stacked-peaks-haikei2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

main > h2 {
  font-size: 30px;
  padding: 15px 0;
}

.game {
  padding: 50px;
  background-color: #1d1d1dc0;
  border-radius: 12px;
}

.phases {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  border-radius: 12px;
}

.phase {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  padding: 7px 0;
}

.content > p:first-child {
  font-size: 22px;
}

.content > p:last-child {
  font-size: 18px;
}

.options {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0px;
}

.options > button {
  max-width: 170px;
  height: 70px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 7px;
  margin: auto;
  font-size: 19px;
  font-family: "Poppins";
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
