.about {
    padding: 20px;
    text-align: center;
  }
  
  .about h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .about p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .images {
    display: flex;
    justify-content: center;
    
  }
  
  .images img {
    width: 300px; /* Ancho deseado para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 0 10px; /* Espacio entre las imágenes */
  }
  